body {
    background-color: black;
}

h1 {
    color: darkturquoise;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
}

p1 {
    padding-bottom: 100px;
    color: darkturquoise;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px
}

img {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    width: 870px;
    height: 500px;
}

button { 
    padding-top: 20px;
    color: black;
    background-color: darkturquoise;
    cursor: pointer;
    padding: 0.4%;
    border-radius: 1%;
}