* {box-sizing:border-box}

.container {
  width: 100%; 
  background-color:black;
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: black; 
}

.Survived {
    width: 35.7%;
    background-color:blue;
} 

.Deceased {
    width: 57.8%;
    background-color:red;
} 
